
<header>        
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navigation">
                <div class="container">                 
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href="index.html"><h1><span>B</span>ookopedia</h1></a>
                        </div>
                    </div>

                    <div class="navbar-collapse collapse">                          
                        <div class="menu">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"><a href="#/" >Home</a></li>
                                <li role="presentation"><a href="#!/signup">Signup</a></li>
                                <li role="presentation"><a href="#!/login" class="active">Login</a></li>
                                <li role="presentation"><a href="contact.html">Contact</a></li>                     
                            </ul>
                        </div>
                    </div>                      
                </div>
            </div>  
        </nav>
</header>
   <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <form ng-submit="reset.submit()">
                    <div class="form-group">
                    <label for="question" ><h3 style="color:blue">Security Question :</h3></label>
                   <h3 style="color: white">{{reset.security}}</h3>
                  </div>
                     <div class="form-group">
                    <label for="email"><h3 style="color:red">Answer</h3></label>
                    <div style="padding-left: 37%">
                    <input style="width: 45%" type="text" name="answer" id="answer" tabindex="1" ng-model="reset.answer" class="form-control" placeholder="Please Answer to reset password..." value="" required="true">
                  </div>
              </div>
                     <div class="form-group">
                    <label for="password"><h3 style="color: green">New Password</h3></label>
                    <div style="padding-left: 37%">
                    <input style="width: 45%" type="text" name="password" tabindex="1" ng-model="reset.password" class="form-control" placeholder="Please Enter new Password" value="" required="true">
                  </div>
              </div>
                  <div class="form-group">
                    <div class="row">
                      <div style="color:green;margin-top: 5%" class="col-sm-6 col-sm-offset-3" >
                        <input style="width: 30%" style="color:black;" type="submit"   tabindex="4" class="btn btn-primary" value="submit">
                      </div>
                    </div>
                  </div>
                     </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->


    </div>